
// .image1{
//     height: 220px;
//     width: 220px;
// }


.para-lg{
    font-size: 21px;
   font-weight: 500;
  

}

.pri-heading{
    color: black;
    font-size: 35px;
    font-weight: 500;
}


.sec-heading{
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.skills-group .skills{
    height: 70px;
    width: 70px;
  margin : 21px

}


