<section class="about py-4">
    <div class="container py-5">
        <div class="row ">

            <div class="col-md-6  ">
                <div class="text-right ">
                    <img src="../../../../assets/images/pngegg (1).png" alt="Web Developer" class="img-fluid ">
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <h1 class="sec-heading">
                    About Me
                </h1>
                <h2 class="pri-heading mb-3">
                    Some Word's <span class="pri-word">About Me</span>
                </h2>
                <br>
                <div class="para-lg">
                    As a passionate Angular developer, I embark on a journey where
                    creativity meets technology. With own-projects
                    of experience in the world of web development, I bring a deep
                    love for crafting intuitive and
                    beautiful user interfaces using Angular as well as Frontend.
                </div>
            </div>
        </div>
        <hr class="w-75 bg-dark">
        <div class="row ">
            <div class="col-12">
                <h2 class="sec-heading text-center">
                    I have experience with these technology
                </h2>
                <br>
                <div class="row">
                    <div class="col-12">

                        <div class="skills-group text-center">


                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/logo-2582748_640.webp" alt="HTML"
                                        class="img-fluid skills" title="HTML">
                                </ng-template>

                                <ng-template carouselSlide><img src="../../../../assets/images/logo-2582747_1280.webp"
                                        alt="CSS" class="img-fluid skills" title="CSS"></ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/images.png" alt="" class="img-fluid skills"
                                        title="javascript"></ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/bootstrap-logo.png" alt=""
                                        class="img-fluid skills" title="Bootstrap"></ng-template>
                                <ng-template carouselSlide> <img src="../../../../assets/images/download.png" alt=""
                                        class="img-fluid skills" title="SASS"></ng-template>
                                <ng-template carouselSlide> <img
                                        src="../../../../assets/images/png-transparent-typescript-hd-logo-thumbnail.png"
                                        alt="" class="img-fluid skills" title="Typescript"></ng-template>
                                <ng-template carouselSlide> <img src="../../../../assets/images/RxJS-tutorials.png"
                                        alt="" class="img-fluid skills" title="Rxjs"></ng-template>
                                <ng-template carouselSlide> <img src="../../../../assets/images/images (1).png" alt=""
                                        class="img-fluid skills" title="Firebase"></ng-template>
                                <ng-template carouselSlide><img src="../../../../assets/images/GitHub-logo.png" alt=""
                                        class="img-fluid skills" title="Github"></ng-template>
                                <ng-template carouselSlide> <img src="../../../../assets/images/jquery-tutorial.jpg"
                                        alt="" class="img-fluid skills" title="JQuery"></ng-template>

                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/angular.png " alt=""
                                        class="img-fluid ng skills">
                                </ng-template>
                            </owl-carousel-o>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>