<mat-toolbar class="d-flex justify-content-between align-items-center nav" mat-elevation-z18 color="primary">
    <div class="logo d-flex">
        <!-- <mat-icon>star_half</mat-icon> -->
        <span class="logo" routerLink="/">
            <img src="../../../../assets/images/pngegg.png" alt="" id="logo">
        </span>
    </div>


    <div class=" d-none d-lg-block">
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
            <!-- <mat-icon>
                house
            </mat-icon> -->
            <span>
                Home
            </span>
        </a>
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/about">
            <!-- <mat-icon>
                assignment
            </mat-icon> -->
            <span>
                About
            </span>
        </a>
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/portfolio">
            <!-- <mat-icon>
                person
            </mat-icon> -->
            <span>
                Portfolio
            </span>
        </a>
        <a mat-button routerLinkActive="ac" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/contact">
            <!-- <mat-icon>
                event_available
            </mat-icon> -->
            <span>
                Contact
            </span>
        </a>


        <!-- <mat-slide-toggle class="darkmode-btn" (input)="onDarkModeToggle($event)" [checked]="ischeked">

        </mat-slide-toggle> -->
    </div>

    <div class="d-lg-none d-md-show d-sm-show">
        <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon"
            (click)="sidenav.toggle()">
            <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
        </button>
    </div>
</mat-toolbar>




<mat-drawer-container hasBackdrop="true">
    <mat-drawer mode="over" #sidenav position="end">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
                <mat-icon mat-list-icon>
                    house
                </mat-icon>
                <span>
                    Home
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/about">
                <mat-icon mat-list-icon>assignment</mat-icon>
                <span>
                    About
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/portfolio">

                <mat-icon mat-list-icon>
                    person
                </mat-icon>

                <span>
                    Portfolio
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/contact">
                <mat-icon mat-list-icon>
                    event_available
                </mat-icon>

                <span>
                    contact
                </span>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content (click)="sidenav.close()">
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>