a:hover,a:focus,a:active{
  background-color:chocolate !important;
  color: white !important;
  text-decoration: none;

}


#logo{
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.mat-drawer-container{
   //background-color: #B4B4B3;
   background-color:burlywood ;
   height: 100vh;
   height:calc(100vh - 64px);
}

// mat-drawer-content{
//   width: 100%;
    
// }

mat-drawer{
  background-color: rgba($color: #3f51b5, $alpha: 0.9) !important;
  width: 40%;
  color: white;
 
}

.ac{
  
  background-color:chocolate !important;
  margin: 9px;
}

.mat-icon{
  color: white;
 }

span{
  color: white;

}

///////////////////////////////////////////////////
/// 


@media screen and (max-width:767px){
    
  .mat-drawer-container{
  
    height:calc(100vh - 57px);
 }

 .ac{
  
  background-color:chocolate !important;
  margin: 9px;
}

}

//////////////////////////////////////////////////

@media screen and (max-width: 768px) and (max-width: 1023px){
 
  mat-drawer{
    background-color: rgba($color: #3f51b5, $alpha: 0.9) !important;
    width: 30%;
   color: white;

  }
  
  .ac{
  
    background-color:chocolate !important;
    margin: 9px;
  }

}