.nav a:hover,.nav a:focus,.nav a:active{
  background-color:chocolate ;
  color: white !important;
  text-decoration: none;

}


#logo{
  width: 70px;
  height: 70px;
  cursor: pointer;
}

mat-sidenav-content{
   background-color:burlywood ;
  
}



mat-sidenav{
  background-color: rgba($color: #3f51b5, $alpha: 0.9) !important;
  width: 30%;
  color: white;
  position: fixed;
  
}

.ac{

  background-color:chocolate !important;
}

.ac2{
  background-color:chocolate !important;
}


.nav a{
  margin: 5px;
}

.mat-icon{
  color: white;
 }

span{
  color: white;

}

///////////////////////////////////////////////////


 .mat-list-base {
padding-top: 0 !important;

}


@media screen and (max-width:767px){
    
  mat-sidenav{
  top: 56px !important;

  }

 .ac{
  
  background-color:chocolate !important;
  
}

}

//////////////////////////////////////////////////

@media screen and (max-width: 768px) and (max-width: 1023px){
 
  mat-sidenav{
    background-color: rgba($color: #3f51b5, $alpha: 0.9) !important;
    
   color: white;
   top:64px ;
  }
  
  .ac{
  
    background-color:chocolate !important;
   

  }

}