<div class="container">
    <h1 class="text-center mt-5 head">TAKE A LOOK AT <span> MY MINI PROJECT'S</span></h1>
    <br>
    <p class="text-center head-1">
        Angular is more than just a framework; it's a pathway to crafting modern, feature-rich web applications.
        I've made it my mission to harness Angular's potential to the fullest.
    </p>
    <br><br>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="UI Projects">
            <ng-template matTabContent>

                <div class="row mx-0 mt-5">
                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 201049.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 223532.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 212149.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Tiny one</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://tinyone-ten.vercel.app/index.html">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 232859.png"
                                        alt="Bootstrap-4" class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233010.jpg"
                                        alt="Bootstrap-4" class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233115.jpg"
                                        alt="Bootstrap-4" class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233148.jpg"
                                        alt="Bootstrap-4" class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233228.jpg"
                                        alt="Bootstrap-4" class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233356.jpg" alt="HTML"
                                        class="img-fluid imgc" title="Bootstrap-4">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Bootstrap 4 </p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="   https://rushi-iacsd.github.io/Bootstrap-4/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233542.jpg" alt="Flex"
                                        class="img-fluid imgc" title="Flex">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233658.jpg" alt="Flex"
                                        class="img-fluid imgc" title="Flex">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233759.jpg" alt="Flex"
                                        class="img-fluid imgc" title="Flex">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 233850.jpg" alt="Flex"
                                        class="img-fluid imgc" title="Flex">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title text-white">Flex</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://rushi-iacsd.github.io/flex-movie-layout/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12 mb-3">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 234017.jpg" alt="SASS"
                                        class="img-fluid imgc" title="SASS">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 234126.jpg" alt="SASS"
                                        class="img-fluid imgc" title="SASS">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 234203.jpg" alt="SASS"
                                        class="img-fluid imgc" title="SASS">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 234243.jpg" alt="SASS"
                                        class="img-fluid imgc" title="SASS">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 234316.jpg" alt="SASS"
                                        class="img-fluid imgc" title="SASS">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">card-sass</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://rushi-iacsd.github.io/Nature-card-sass1/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12  mb-3">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 004733.jpg" alt="REEN"
                                        class="img-fluid imgc" title="REEN">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 004809.jpg" alt="REEN"
                                        class="img-fluid imgc" title="REEN">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 004849.jpg" alt="REEN"
                                        class="img-fluid imgc" title="REEN">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">REEN</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="  https://reen-vert.vercel.app/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-4  mb-3">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 201049.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 211757-2.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 212149.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Tiny one</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning"
                                    href="https://rushi-iacsd.github.io/Nature-card-sass1/">Visit</a>
                            </div>
                        </div>
                    </div>  -->

                </div>
            </ng-template>
        </mat-tab>





        <mat-tab label="Angular Projects">
            <ng-template matTabContent>
                <div class="row mx-0 mt-5">
                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 201049.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 223532.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 212149.jpg" alt="Tinyone"
                                        class="img-fluid imgc" title="Tinyone">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Tiny one</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="  https://angular-tinone.vercel.app/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000106.jpg"
                                        alt="Emp Management" class="img-fluid imgc" title="Emp ManagementL">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000246.jpg"
                                        alt="Emp Management" class="img-fluid imgc" title="Emp Management">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000339.jpg"
                                        alt="Emp Management" class="img-fluid imgc" title="Emp Management">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Emp Management</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://emp-mangment.vercel.app/  ">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000653.jpg"
                                        alt="Student-Managment" class="img-fluid imgc" title="Student-Managment">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000735.jpg"
                                        alt="Student-Managment" class="img-fluid imgc" title="Student-Managment">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 000805.jpg"
                                        alt="Student-Managment" class="img-fluid imgc" title="Student-Managment">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Student-Managment</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://students-mangmentsystem.vercel.app">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12  mb-3">
                        <div class="card">

                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 001115.jpg" alt="TODO-App"
                                        class="img-fluid imgc" title="TODO-App">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 001240.jpg" alt="TODO-App"
                                        class="img-fluid imgc" title="TODO-App">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 001334.jpg" alt="TODO-App"
                                        class="img-fluid imgc" title="TODO-App">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 010457.jpg" alt="TODO-App"
                                        class="img-fluid imgc" title="TODO-App">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">TODO-App</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="https://crud-app-zeta-ten.vercel.app/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-12  mb-3">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 003049.jpg" alt="CRUD"
                                        class="img-fluid imgc" title="CRUD">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 003141.jpg" alt="CRUD"
                                        class="img-fluid imgc" title="CRUD">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-07 003211.jpg" alt="CRUD"
                                        class="img-fluid imgc" title="CRUD">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">CRUD</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning" target="_blank"
                                    href="   https://http-2.vercel.app/">Visit</a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-4">
                        <div class="card">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 201049.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 211757-2.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                                <ng-template carouselSlide>
                                    <img src="../../../../assets/images/Screenshot 2023-10-06 212149.jpg" alt="HTML"
                                        class="img-fluid imgc" title="HTML">
                                </ng-template>
                            </owl-carousel-o>
                            <p class="title ">Tiny one</p>
                            <div class="card-body">
                                <a mat-stroked-button class="btn-outline-warning"
                                    href="https://rushi-iacsd.github.io/Nature-card-sass1/">Visit</a>
                            </div>
                        </div>
                    </div> -->

                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<hr class="w-75 bg-dark">

<h3 class="text-center mb-3">Thanks for Visiting My Portfolio </h3>
<!-- <div class="row">
    <div class="card">

    </div>
</div> -->